<div class="popupContainer">
  <div class="headerContainer">
    <h2 mat-dialog-title>{{media.title}} (Average Score:{{media.mediaScore}}/10)</h2>
  </div>
  <mat-dialog-content>
      <div class="contentContainer">
        <div class="imgContainer">
          <img src="{{media.imageUrl}}">
        </div>
        <div class="descContainer">
          <h3>Description</h3>
          {{media.description}}
        </div>

      </div>

      <div class="ReviewContainer">
        <ul>
          <li *ngFor="let review of reviews">
            <blockquote>
              <strong>Score: {{review.reviewPoints}}/10--></strong>
              <span> - </span>
                {{review.reviewText}}
              <cite>
                {{review.Author}}
              </cite>
            </blockquote>
          </li>
        </ul>
        <span class="spacer"></span>
        <div class="writeReviewContainer">


        </div>
      </div>

  </mat-dialog-content>
</div>
