.popupContainer{
  width: 35vw;
  height: 35vw;
  color: white;
}

::ng-deep.mat-dialog-container {
  background-color: #403f3f;
}

.headerContainer h2{
  text-align: center;
  font-weight: bold;
}
mat-dialog-content{
  display: flex;
  flex-direction: row;
  height: 90%;
}
.contentContainer{
  width: 35%;
  height: 100%;
  margin-right: 5px;

}
.imgContainer{
  display: flex;
  align-content: center;
  justify-content: center;
  margin-right: 5px;

}
.imgContainer img{
  height: 100%;
  width: 100%;
}

.ReviewContainer{
  width: 80%;
  display: block;
  flex-direction: column;
}

.writeReviewContainer{

  position: sticky;
  bottom: 0;
  background-color:#403f3f;

}

li{
  list-style-type: none;
}

.spacer{
  flex: 1 1 auto;
}

.descContainer h3{
  font-weight: bolder;
}

blockquote{
  border-left: 5px solid black;
  padding-left: 10px;
  margin: 10px 15px;
  font-weight: bolder;
}

cite{
  font-size: 0.8em;
}
.ProfilForm{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}
.reviewFormTextarea{
  width: 70%;
}
