<div class="popupContainer">
  <div class="headerContainer">
    <h2 mat-dialog-title>{{media.title}} (Average Score:{{media.mediaScore}}/10)</h2>
  </div>
  <mat-dialog-content>
      <div class="contentContainer">
        <div class="imgContainer">
          <img src="{{media.imageUrl}}">
        </div>
        <div class="descContainer">
          <h3>Description</h3>
          {{media.description}}
          <h3>Genre</h3>
          {{media.genres}}
          <h3>Actors</h3>
          {{media.actors}}
          <h3>Premiered</h3>
          {{media.premiered}}
        </div>

      </div>


        <div class="ReviewContainer">
          <ul>
            <li *ngFor="let review of reviews">
              <blockquote>
                Score: {{review.reviewPoints}}/10
                <span> - </span>
                  {{review.reviewText}}
                <cite>
                  <br>--
                  {{review.Author}}
                </cite>
              </blockquote>
            </li>
          </ul>
          <span class="spacer"></span>
          <div class="writeReviewContainer">
            <h3>Write your own Review:</h3>
            <form class="ProfilForm" [formGroup]="reviewForm" (ngSubmit)="setReview()">
              <select formControlName="reviewPoints" required>
                <option *ngFor="let num of [1,2,3,4,5,6,7,8,9,10]">{{num}}</option>
              </select>
              <textarea  formControlName="reviewText" class="reviewFormTextarea" required></textarea>
              <button type="submit">Submit</button>
            </form>
          </div>
        </div>
  </mat-dialog-content>
</div>
