.MovieCont{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

#toolbar-movie{
  border: 1px solid rgba(255,255,255,0.5);
  background-color: #292929;
  position:sticky;
  top: 0;
  z-index: 1000;
}

#formFieldContainer{
  font-size: 15px;
}

#searchbar{
  margin: 2vh auto 0vh auto;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline{
  color: #ffffff;
  margin: 1vh 0vw 0vh 0vw;
}

#searchbar mat-form-field{
  color: #ffffff;
}

#searchbar>mat-form-field{
  width: 15vw;
}

#addNew{
  float: left;
  margin-left: 1vw;
}

.SingleMediaContainer{
  width: 7vw;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid #435a75;
  background-color: #334254;
  display: flex;
  flex-direction: column;
}
.spacer{
  flex: 1 1 auto;
}

.Media-Title-Container{
  display: flex;
  flex-direction: column;
  justify-content: left;
}

#title{
  font-size: 1.5em;
  font-weight: bolder;
}

#points{
  font-size: 1.2em;
  font-weight: bolder;
}

mat-card-footer{
  display: flex;
  align-content: center;
  justify-content: center;
}

mat-card-footer button{
  width: 100%;
}

.SingleMediaWrapper{
  height: 100%;
}

@media only screen and (max-width: 700px){
  .SingleMediaContainer{
    width: 34vw;
  }
  #searchbar{
    margin-left: 8px;

  }
  #formFieldContainer{
    font-size: 15px;
    width: 20vw;
  }
  #addNew{
    font-size: 0.50em;
  }


}

