<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="30" class="FormContainer">
    <form class="Register-form" [formGroup]="registerForm" (ngSubmit)="tryRegister()">
      <div fxLayout="column">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput type="text">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirmation Code</mat-label>
          <input matInput type="text">
        </mat-form-field>
      </div>
      <div fxLayoutAlign="center">
        <button mat-raised-button type="submit" ><!--(click)="tryLogin()"-->Register</button>
      </div>

    </form>

    <div fxLayoutAlign="center">
      <a routerLink="/login">
        <button mat-raised-button>Back To Login</button>
      </a>
    </div>

  </mat-card>
</div>
