<div class="id">
  <form class="register">

    <div class="row">
      <div class="col-label">
        <label for="username">Username</label>
      </div>
      <div class="col-input">
        <input type="text" name="username" id="username">
      </div>
    </div>

    <div class="row">
      <div class="col-label">
        <label for="email">Email</label>
      </div>
      <div class="col-input">
        <input type="email" name="email" id="email">
      </div>
    </div>

    <div class="row">
      <div class="col-label">
        <label for="password">Password</label>
      </div>
      <div class="col-input">
        <input type="password" name="password" id="password">
      </div>
    </div>

    <div class="row">
      <div class="col-label">
        <label for="passwordRe">Confirm Password</label>
      </div>
      <div class="col-input">
        <input type="password" name="passwordRe" id="passwordRe">
      </div>
    </div>

    <div class="row">
      <div class="col-label">
        <label for="code">autofiction code</label>
      </div>
      <div class="col-input">
        <input type="text" name="code" id="code">
      </div>
    </div>


  </form>
</div>
