
<div class="row">

  <div class="left column"></div>

  <div class="middle column">
  <div fxLayoutAlign="center center" fxFlexFill class="OuterDiv" fxFlexFill>
    <mat-card class="FormContainer">
      <mat-card-title>Create an account !</mat-card-title>
      <mat-card-subtitle *ngIf="this.registerError !== ''">{{this.registerError}}</mat-card-subtitle>
      <form class="Register-form" [formGroup]="registerForm" (ngSubmit)="tryRegister()">

        <div fxLayout="column">
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput type="text" formControlName="username" required>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="contact_email" required>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" required>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" formControlName="password_control" [errorStateMatcher]="errorMatcher" required>
            <mat-error *ngIf="registerForm.hasError('passwordsDoNotMatch')">
              Passwords do not match!
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Secret Code</mat-label>
            <input matInput type="text" formControlName="secret_code" required>
          </mat-form-field>
          <button id="creatAccount" mat-raised-button type="submit" color="primary">Create Account</button>
          <button id="backToLogin" mat-raised-button (click)="backToLogin()">Back to Login</button>
        </div>
      </form>
    </mat-card>
  </div>
  </div>
  <div class="right column"></div>

</div>
