<div class="outerDiv" >
<mat-toolbar id="toolbar-movie">
  <form [formGroup]="searchNewForm" id="searchbar" (ngSubmit)="findMedia()" required="">
    <div id="formFieldsContainer">
    <mat-form-field appearance="outline" id="typeSelector">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type" class="mediaType" required>
        <mat-option *ngFor="let type of this.mediaTypes" [value]="type">
          {{type.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field id="searchField" appearance="outline">
      <mat-label>Search...</mat-label>
      <input matInput required formControlName="search">
    </mat-form-field>
    <button id="searchButton" mat-raised-button type="submit" #search><mat-icon>search</mat-icon></button>
    </div>
  </form>
</mat-toolbar>


<div class="MovieCont">
<mat-card class="SingleMediaContainer" *ngFor="let result of this.mediaFound" (click)="openPopup(result)">
  <img mat-card-image class="Media-Image" src="{{result.image_url || result.Poster}}">
  <span id="spacer"></span>
  <mat-card-content class="Media-Title-Container">
    <p id="title">{{result.title || result.Title}}</p>
  </mat-card-content>
</mat-card>
</div>
</div>
