.leftP, .rightP{
  width: 30vw;
  background-color: #292929;
}

.middleP{
  width: 40vw;
}

.ProfileCard{
  width: 30vw;
  height:52.5vh ;
  background-color: #403f3f;
  margin: 15vh 5vw 25vh 5vw;
  padding: 0.5vh 0vw 0.5vh 0vw;
  border-radius: 1em;

}

.Top{
  background-color: #5a5959;
  width: 29vw;
  height:4vh;
  margin: 0.5vh 0.5vw 0.5vh 0.5vw;
  color: white;
  font-size: 2vh;
  text-align: center;
  padding: 1vh 0vw 1vh 0vw;
}

.Between{
  width: 29vw;
  height: 28.5vh;
  margin: 1vh 0.5vw 1vh 0.5vw;
  display: flex;
  flex-direction: row;
}

.Bottom{
  width: 29vw;
  height: 16vh;
  background-color: #5a5959;
  margin: 0.5vh 0.5vw 0vh 0.5vw;
}

.ImgCol{
  height: 28.5vh;
  width: 16vw;
  border-radius: 2em;
}

.DataCol{
  height: 28.5vh;
  width: 13vw;
  background-color: #403f3f;
  display: flex;
  flex-direction: column;
}

.DataRow{
  height: 4vh;
  width: 12vw;
  background-color: #5a5959;
  margin: 0.5vh 0.5vw 0.5vh 0.5vw;
  color: white;
  text-align: center;
  padding: 1vh 0vw 0.5vh 0vw;
  font-size: 1.5vh;
}

.username{
  margin-bottom: 3vh;
}

.name1{
  margin-top: 2.5vh;
}
.Part, .DataRow{
  border-radius: 3em;
}






/*
Tab Display
 */

::ng-deep .mat-tab-label.mat-tab-label-active{
  color: white;
}
::ng-deep .mat-tab-label{
  color: #aba7a7;
  width: 100%;
}



/* Edit Profil */


.left, .right{
  width: 40vw;
  background-color: #292929;
}

.middle{
  width: 20vw;
}

.column{
  height: 100vh;
}


.row{
  display: flex;
  flex-direction: row;
}

mat-card{
  background-color: #403f3f;
  color: white;

}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline{
  color: white;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-label {
  color: white;
}

*{
  box-sizing: border-box;
}

.ProfileForm{
  width: 17vw;
  height: auto;
}

.description-label{
  color: white;

}





