<mat-tab-group>
  <mat-tab label="Profile">
    <div  class="row">
      <div class="leftP column"></div>
      <div class="middleP column">
        <div  class="ProfileCard">

          <div class="Top Part"> Profile </div>

            <div class="Between Part">
              <div class="ImgCol">
                <img class="ImgCol" src="{{profile.imgUrl || '../../assets/images/tmkl_logos/logogreen.jpg'}}">
              </div>

              <div class="DataCol" fxLayout="column">
                <div class="DataRow name1">Username:</div>
                <div class="DataRow username">Hi TMKL {{profile.name}}!</div>
                <div class="DataRow name">E-Mail:</div>
                <div class="DataRow email">{{profile.email}}</div>
              </div>
            </div>

          <div class="Bottom Part">
            {{profile.description || ''}}
          </div>

        </div>
      </div>
      <div class="rightP column"></div>
    </div>
  </mat-tab>



  <mat-tab label="Edit Profile">
    <div  class="row">
      <div class="left column"></div>
      <div class="middle column">
        <div fxFlexFill class="OuterDiv" fxFlexFill>
          <mat-card class="FormContainer">
            <mat-card-title>Edit Profile</mat-card-title>
            <form class="ProfileForm" [formGroup]="editProfil" (ngSubmit)="edit()">

              <div fxLayout="column" >
                <mat-form-field appearance="outline">
                  <mat-label>Username</mat-label>
                  <input matInput type="text" formControlName="username">
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput type="email" formControlName="user_email">
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Password</mat-label>
                  <input matInput type="password" formControlName="password">
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Confirm Password</mat-label>
                  <input matInput type="password" formControlName="password_control">
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>New Image</mat-label>
                  <input matInput type="url" formControlName="img_Url">
                </mat-form-field>

                <mat-form-field appearance="fill" class="description">
                  <mat-label class="description-label">description</mat-label>
                  <textarea matInput formControlName="description" cdkTextareaAutosize  ></textarea>
                </mat-form-field>

                <button mat-raised-button type="submit" fxFlexAlign="center center">Change </button>
              </div>
            </form>
          </mat-card>
        </div>
      </div>
      <div class="right column"></div>
    </div>
  </mat-tab>
</mat-tab-group>
