<div class="MovieCont">

  <mat-toolbar id="toolbar-movie">
    <button mat-raised-button color="primary" id="addNew" (click)="goToAddMedia()">Add a new Media!</button>
    <form [formGroup]="searchForm" id="searchbar">
      <mat-form-field class="full-width">
        <input matInput  placeholder="Search..." formControlName="search">
      </mat-form-field>
    </form>
  </mat-toolbar>

  <mat-card class="SingleMediaContainer" *ngFor="let anime of this.animes" (click)="openPopup(anime)">
    <img mat-card-image class="Media-Image" src="{{anime.imageUrl}}">
    <mat-card-content class="Media-Title-Container">
      <p id="title">{{anime.title}}</p>
      <p id="points">{{anime.mediaScore}}/10</p>
    </mat-card-content>
  </mat-card>

</div>




