.MovieCont{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

#toolbar-watchlists{
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: #292929;
  position:sticky;
  top: 0;
  z-index: 1000;
}

#formFieldContainer{
  font-size: 15px;
}

::ng-deep .mat-option *{
  color: white;
}

::ng-deep .mat-select,::ng-deep .mat-select-panel{
  background: #292929;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline{
  color: #ffffff;
  margin: 1vh 0vw 0vh 0vw;
}

#searchbar {
  margin: 2vh auto 0vh auto;

}

#searchbar mat-form-field{
  color: #ffffff;
}

#searchButton{
  height: 4.5vh;
  margin-left: 1vw;
}

.SingleMediaContainer{
  width: 7vw;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid #435a75;
  background-color: #334254;
  display: flex;
  flex-direction: column;
}
.Media-Image {

}
.Media-Title-Container{
  display: flex;
  justify-content: space-between;
}

#title{
  font-size: 1.5em;
}

#spacer{
  flex: 1 1 auto;
}

.example-full-width{
  margin: 0vh 3vh 0vh 3vh;
}

@media only screen and (max-width: 700px){
  .SingleMediaContainer{
    width: 34vw;
  }
}

