
<div class="MovieCont">
  <mat-toolbar id="toolbar-watchlists">
    <mat-toolbar-row>
      <form [formGroup]="searchUserWatchlist" id="searchbar" (ngSubmit)="findWatchlist()" required>
        <div id="formFieldContainer">
        <mat-form-field appearance="outline" id="formFieldSelectUser">
          <mat-label>User</mat-label>
          <mat-select formControlName="user" id="UserSelector" required>
            <mat-option *ngFor="let user of this.WantToWatchUsersFound" [value]="user">
              {{user}}
            </mat-option>
          </mat-select>
        </mat-form-field>
          <button id="searchButton" mat-raised-button type="submit"><mat-icon>search</mat-icon></button>
        </div>

      </form>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

  <mat-tab-group id="tabs">
    <mat-tab label="WantToWatch">
      <mat-card class="SingleMediaContainer" *ngFor="let media of this.WantToWatchMediaFound" (click)="openPopup(media)">
        <div class="SingleMediaWrapper" (click)="openPopup(media)">
          <img mat-card-image class="Media-Image" src="{{media.imageUrl}}">
          <span class="spacer"></span>
          <mat-card-content class="Media-Title-Container">
            <p class="title">{{media.title}}</p>
            <p class="points">{{media.mediaScore}}/10</p>
          </mat-card-content>
        </div>
      </mat-card>
    </mat-tab>
    <mat-tab label="Watched">
      <mat-card class="SingleMediaContainer" *ngFor="let media of this.watchedMediaFound" (click)="openPopup(media)">
        <div class="SingleMediaWrapper" (click)="openPopup(media)">
          <img mat-card-image class="Media-Image" src="{{media.imageUrl}}">
          <span class="spacer"></span>
          <mat-card-content class="Media-Title-Container">
            <p class="title">{{media.title}}</p>
            <p class="points">{{media.mediaScore}}/10</p>
          </mat-card-content>
        </div>
      </mat-card>
    </mat-tab>
  </mat-tab-group>

