<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #sidenav class="sidenav-drawer" [mode]="isLargeScreen() ? 'side' : 'over'" [opened]="isLargeScreen()">
    <mat-list>
      <div class="Elements" mat-subheader >Media</div>
      <div fxLayout="column">

        <a class="main movies" routerLink="/Movies">Movies</a>
          <ul class="underPoints movies">
            <li><a>placeholder</a></li>
            <li><a>placeholder</a></li>
            <li><a>placeholder</a></li>
          </ul>


        <a class="main anime" routerLink="/Anime">Anime</a>
          <ul class="underPoints movies">
            <li><a>placeholder</a></li>
            <li><a>placeholder</a></li>
            <li><a>placeholder</a></li>
          </ul>

        <a class="main series" routerLink="/Series">Series</a>
          <ul class="underPoints movies">
            <li><a>placeholder</a></li>
            <li><a>placeholder</a></li>
            <li><a>placeholder</a></li>
          </ul>

        <a class="main games" routerLink="/Games">Games</a>
          <ul class="underPoints movies">
            <li><a>placeholder</a></li>
            <li><a>placeholder</a></li>
            <li><a>Minigames</a></li>
          </ul>

        <a class="main watchlists" routerLink="/UserWatchlists">User Watchlists</a>

      </div>
    </mat-list>
  </mat-drawer>
  <ng-component></ng-component>
</mat-drawer-container>

