button, mat-form-field{
  margin: 5px;
}

mat-card{
  background-color: rgba(41, 41, 41, 0.8);
}

.OuterDiv{
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../../assets/images/tmkl_logos/logogreen.jpg");
  background-size: contain;
  background-position: center;
  z-index: -1;
  display: block;
}

