<div>
  <div class="ImageDiv"></div>
  <div fxLayoutAlign="center center"  class="OuterDiv" fxFlexFill>
    <mat-card fxFlex="30" class="FormContainer">
      <mat-card-title>Login</mat-card-title>
      <mat-card-subtitle *ngIf="this.loginError !== ''">{{this.loginError}}</mat-card-subtitle>
      <form class="Login-form" [formGroup]="loginForm" (ngSubmit)="tryLogin()" >

        <div fxLayout="column">
          <mat-form-field appearance="outline" id="usern">
            <mat-label>Username</mat-label>
            <input matInput  formControlName="username" required>
          </mat-form-field>

          <mat-form-field appearance="outline" id="passw">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" required>
          </mat-form-field>
        </div>

        <div fxLayoutAlign="center">
          <button mat-raised-button type="submit">Login</button>
        </div>

      </form>

      <div fxLayoutAlign="center">
        <a routerLink="/register">
          <button mat-raised-button>Register</button>
        </a>
      </div>

    </mat-card>
  </div>
</div>
