.SingleMediaContainer{
  width: 15vw;
  height: 22vh;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid #435a75;
  display: inline-block;
}
mat-card img {

}
mat-card-content{
  bottom: 0;

}



