.watchlistWrapper{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.SingleMedContainer{
  width: 7vw;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid #435a75;
  background-color: #334254;
  max-width: 7vw;
  display: flex;
  flex-direction: column;
}

.spacer{
  flex: 1 1 auto;
}

.Media-Container{
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.Media-Image{

}

/*
Tab Display
 */

::ng-deep .mat-tab-label.mat-tab-label-active{
  color: white;
}
::ng-deep .mat-tab-label{
  color: #aba7a7;
  width: 100%;
}

.title{
  font-size: 1vw;
}

mat-card-footer{
  display: flex;
  align-content: center;
  justify-content: center;
}

mat-card-footer button{
  width: 100%;
}

.SingleMediaWrapper{
  height: 100%;
}

@media only screen and (max-width: 700px){
  .SingleMediaContainer{
    width: 34vw;
  }
}
